<template>
  <div class="app">
    <router-view />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend();
</script>

<style lang="scss">
@import "@/styles/colors.scss";

body {
  margin: 0;
}

.app {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: $primary;
}
</style>
