<template>
  <form @submit.prevent="createTask()">
    <input
      type="text"
      placeholder="Add a task"
      name="task-values"
      autocomplete="off"
      v-model="rawInput"
    />
    <div class="underline"></div>
  </form>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  data: () => ({
    rawInput: "" as String
  }),
  methods: {
    createTask(): void {
      this.$store.dispatch("createTask", { rawInput: this.rawInput });
      this.rawInput = "";
    }
  }
});
</script>

<style lang="scss" scoped>
@import "@/styles/colors.scss";

form {
  width: 100%;
}

input {
  width: 100%;
  padding: 0;
  color: $secondary;
  font-size: 1.2em;
  background: none;
  border: none;
  outline: none;
  transition: opacity 0.3s;
  &::placeholder {
    color: transparentize($secondary, 0.3);
  }

  &:focus::placeholder {
    opacity: 0;
  }
}

.underline {
  height: 1px;
  margin-top: 0.4rem;
  background: $tirtiary;
}
</style>
