<template>
  <div
    class="custom-select"
    @mouseover="expandOptions()"
    @mouseleave="collapseOptions()"
  >
    <div class="mask" ref="mask">
      <div class="selected-option">
        <img :src="getIcon(selectedValue)" class="option-icon" :title="name" />
      </div>
      <ul>
        <li
          v-for="(n, i) in options"
          :key="`option-${i}`"
          @click="selectValue(i)"
        >
          <img :src="getIcon(i)" class="option-icon" />
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  props: {
    options: Number,
    value: Number,
    name: String,
    icon: String
  },
  data: () => ({
    selectedValue: 0,
    isHovered: false,
    size: 1.2
  }),
  mounted: function() {
    this.selectedValue = this.value;
  },
  watch: {
    value: function(value: number) {
      this.selectedValue = value;
    }
  },
  methods: {
    getIcon(index: string) {
      return require(`@/assets/icons/${this.$props.icon}-${index}.svg`);
    },
    onChangeHandler() {
      this.$emit("change", {
        name: this.name,
        value: this.selectedValue
      });
    },
    selectValue(value: number) {
      this.$emit("change", {
        name: this.name,
        value
      });
    },
    expandOptions() {
      if (!this.isHovered) {
        const height: number = this.size * (this.options + 1);
        (this.$refs.mask as HTMLElement).style.height = `${height}rem`;
      }
      this.isHovered = true;
    },
    collapseOptions() {
      if (this.isHovered) {
        (this.$refs.mask as HTMLElement).style.height = `${this.size}rem`;
      }
      this.isHovered = false;
    }
  }
});
</script>

<style lang="scss" scoped>
@import "@/styles/colors.scss";
$size: 1.2rem;

.custom-select {
  width: $size;
  height: $size;
  cursor: pointer;
  &:hover .mask {
    border-color: $tirtiary;
  }
}

.mask {
  flex: 0 0 $size;
  box-sizing: border-box;
  overflow: hidden;
  width: $size;
  height: $size;
  background: $primary;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  transition: height 0.3s, border-color 0.25s;
}

.selected-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(#{$size} - 2px);
  height: calc(#{$size} - 2px);
  color: $tirtiary;
  font-family: sans-serif;
  transition: color 0.2s;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(#{$size} - 2px);
  height: $size;
  color: $tirtiary;
  font-family: sans-serif;
  transition: color 0.2s;
  &:hover {
    color: $secondary;
  }
}

.option-icon {
  width: $size - 0.2rem;
  height: $size - 0.2rem;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
</style>
