<template>
  <div
    class="task-item"
    :class="{
      'is-selected': isSelectedTask(),
      'is-not-selected': isNotSelectedTask(),
      'is-completed': task.isCompleted
    }"
  >
    <form @submit="updateTask()" class="form">
      <CustomSelect
        class="select"
        :options="highestPriority"
        :value="task.priority"
        name="priority"
        icon="flag"
        @change="onSelectionChange($event)"
      ></CustomSelect>

      <CustomSelect
        class="select"
        :options="highestEffort"
        :value="task.effort"
        name="effort"
        icon="stopwatch"
        @change="onSelectionChange($event)"
      ></CustomSelect>

      <label :for="task.id" class="input-is-completed">
        <input
          :id="task.id"
          type="checkbox"
          v-model="task.isCompleted"
          @change="updateTask()"
          title="Complete"
        />
      </label>

      <input
        class="input-description"
        type="text"
        v-model="task.description"
        @blur.prevent="updateTask()"
      />

      <button
        class="button-notes"
        type="button"
        @click="toggleNotesPanel()"
        title="Notes"
      >
        &#9998;
      </button>
      <button
        class="button-delete"
        type="button"
        @click="deleteTask()"
        title="Delete"
      >
        &#10005;
      </button>
    </form>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters } from "vuex";
import CustomSelect from "@/components/TaskList/CustomSelect.vue";
import { HIGHEST_PRIORITY, HIGHEST_EFFORT } from "@/services/TaskService";
import Task from "@/models/task";

export default Vue.extend({
  props: {
    task: {
      type: Object as () => Task
    }
  },
  data: () => ({
    highestPriority: HIGHEST_PRIORITY,
    highestEffort: HIGHEST_EFFORT
  }),
  computed: {
    ...mapGetters(["selectedTask"])
  },
  components: {
    CustomSelect
  },
  methods: {
    deleteTask() {
      if (this.selectedTask && this.selectedTask.id === this.task.id) {
        this.$store.commit("setSelectedTask", null);
      }
      this.$store.dispatch("deleteTask", this.task.id);
    },
    onSelectionChange(selection: { name: string; value: string }) {
      this.$props.task[selection.name] = selection.value;
      this.$store.dispatch("updateTask", this.task);
    },
    updateTask() {
      if (document.activeElement instanceof HTMLElement) {
        document.activeElement.blur();
      }
      this.$store.commit("setSelectedTask", null);
      this.$store.dispatch("updateTask", this.task);
    },
    isSelectedTask() {
      return this.selectedTask && this.selectedTask.id === this.task.id;
    },
    isNotSelectedTask() {
      return this.selectedTask && this.selectedTask.id !== this.task.id;
    },
    toggleNotesPanel() {
      if (this.isSelectedTask()) {
        this.$store.commit("setSelectedTask", null);
      } else {
        this.$store.commit("setSelectedTask", this.task);
      }
    }
  }
});
</script>

<style lang="scss" scoped>
@import "@/styles/colors.scss";

.task-item {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid transparent;
  transition: opacity 0.3s;

  .form {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .input-is-completed {
    flex-shrink: 0;
    box-sizing: border-box;
    width: 0.8rem;
    height: 0.8rem;
    margin-left: 0.4rem;
    background: $primary;
    border: 1px solid $tirtiary;
    border-radius: 4px;
    transition: background-color 0.2s;
    cursor: pointer;
    input {
      display: none;
    }
  }

  .input-description {
    flex: 100%;
    padding-bottom: 0.1rem;
    margin-left: 0.4rem;
    color: $secondary;
    font-size: 1rem;
    background: $primary;
    border: none;
    outline: none;
    transition: color 0.3s;
  }

  .button-notes,
  .button-delete {
    flex-shrink: 0;
    width: 1.2rem;
    height: 1.2rem;
    padding: 0;
    margin-left: 0.2rem;
    color: $tirtiary;
    font-size: 1rem;
    line-height: 0rem;
    text-align: center;
    background: $primary;
    border: 1px solid $tirtiary;
    border-radius: 4px;
    outline: none;
    transition: color 0.3s, background 0.3s, opacity 0.3s;
    cursor: pointer;
    opacity: 0;
  }

  .select {
    margin-right: 0.2rem;
    transition: opacity 0.3s;
  }

  .button-delete:hover {
    color: $warning;
  }

  .button-notes:hover {
    color: $secondary;
  }

  &.is-completed {
    opacity: 0.2;

    .input-is-completed {
      background: $success;
    }

    .input-description {
      text-decoration: line-through;
    }

    .select {
      opacity: 0;
    }
  }

  &.is-selected {
    .button-notes {
      opacity: 1;
    }

    .button-notes {
      color: $primary;
      background: $secondary;
    }
  }

  &.is-not-selected .input-description {
    color: $tirtiary;
  }

  &:hover {
    z-index: 1;
    opacity: 1;

    .button-delete,
    .button-notes,
    .select {
      opacity: 1;
    }
  }
}
</style>
